@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --bg-lightblue: #E4EFF6; 
  --bg-darkblue: #65BFFF;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background-image: linear-gradient(var(--bg-lightblue), var(--bg-darkblue));
  background-size: cover; 
  background-repeat: no-repeat; 
  background-attachment: fixed; 
  font-family: Arial, Helvetica, sans-serif;
}
